

<!-- SEARCH FORM -->
<form>
	<input type="text" name="search-term">
	<input type="submit" name="search">

</form>

<div id="results">
<!--  RESULTS DIV/WHERE MOVIE RESULTS ARE GOING TO BE POPULATED-->

</div>

<div id=movie-details>

<!-- MOVIE DETAILS DIV/WHERE SINGLE MOVIE DETAILS ARE GOING TO BE POPULATED  -->
</div>




<script>
function addToFavorites() {
	document.querySelector('button').addEventListener('click',function(event){ //adding listener on 'add to favorites' button
		var button = event.target; // setting button to target that was clicked
		var postToFavorites = new XMLHttpRequest();
		postToFavorites.open("POST", "favorites", true); //posting to /favorites
		postToFavorites.setRequestHeader("Content-type", "application/x-www-form-urlencoded");
		postToFavorites.send("title="+button.dataset.title+"&year="+button.dataset.year+"");
		//sending attributes through params to /favorites
		}
	)
}




// ADDING A LISTENER ONTO EACH MOVIE TITLE SO THAT WHEN IT IS CLICKED, MOVIE DETAILS DIV IS POPULATED
function movieTitleListener() {
	
	var moviesArr = document.getElementsByName("movieTitle"); // finding movie title within dom 
	for(var i=0; i < moviesArr.length; i++){ // creating a loop function for each title 
	  moviesArr[i].addEventListener('click', function(event) { // adding the event listener to each title

		var movieid =this.getAttribute('imdbid') // saving the unique IMDBID of each movie
		var getMovieDetails = new XMLHttpRequest(); // making the api call to get full movie details
		getMovieDetails.addEventListener('load',function(event){ 
			var movieDetails = JSON.parse(event.currentTarget.response) 
			var movieYear = movieDetails.Year
			var movieTitle = movieDetails.Title
			var movieActors = movieDetails.Actors
			var movieAwards = movieDetails.Awards
			var movieDirector = movieDetails.Director    // {After parsing, setting all variables to respective attributes}
			var movieGenre = movieDetails.Genre
			var moviePlot = movieDetails.Plot
			var movieRuntime = movieDetails.Runtime
			var movieCountry = movieDetails.Country
			document.getElementById("results").style.display = "none"; // hiding the other results when the title is clicked on
			console.log(movieTitle)
			document.getElementById("movie-details").innerHTML += '<button data-title="' +movieTitle+'" data-year="' + movieYear + '">Add to Favorites</button>';
			document.getElementById("movie-details").innerHTML += '<p> Title: ' + movieTitle + '</p>';
			document.getElementById("movie-details").innerHTML += '<p> Actors: ' + movieActors + '</p>';
			document.getElementById("movie-details").innerHTML += '<p> Awards: ' + movieAwards + '</p>';
			document.getElementById("movie-details").innerHTML += '<p> Director: ' + movieDirector + '</p>';
			document.getElementById("movie-details").innerHTML += '<p> Genre: ' + movieGenre + '</p>';
			document.getElementById("movie-details").innerHTML += '<p> Plot: ' + moviePlot + '</p>';
			document.getElementById("movie-details").innerHTML += '<p> Runtime: ' + movieRuntime + '</p>';
			document.getElementById("movie-details").innerHTML += '<p> Country: ' + movieCountry + '</p>';
			// setting up HTML for all attributes

			addToFavorites(); 
		})
		getMovieDetails.open("GET", "http://www.omdbapi.com/?i=" + movieid + "&plot=full"); // API call
		getMovieDetails.send()
	  })
		document.querySelector('form').style.display = "none"
	}

}











	document.querySelector('input[type=submit]').addEventListener('click', function(event){ // Selecting the submit form
		event.preventDefault();

		search_term = document.querySelector('input[name=search-term]').value // Getting the value of the search form
		var getResults = new XMLHttpRequest(); // Making the request 
		getResults.addEventListener("load", function(event){
			var results = JSON.parse(event.currentTarget.response).Search // Parsing the data that came back
			var list_array = results 
			for (var i = 0; i < list_array.length; i++) { // Making a loop for each single movie object that came back
				var titles = results[i].Title
				var years = results[i].Year              // Setting attributes 
				var imdbID = results[i].imdbID
				document.getElementById("results").innerHTML += '<p name=movieTitle id=ptag'+i+' imdbid=' + imdbID + ' > Title: ' + titles ; + '</p>'
				document.getElementById("results").innerHTML += 'Year: ' + years ;
				document.getElementById("ptag"+i).setAttribute('imdbid', imdbID);
				// CSS organization 



				console.log(results)
	    	}

	    	movieTitleListener(); //function called to add listener on click of title to display movie details
			addButtonListener();

		});
		getResults.open("GET", "http://www.omdbapi.com/?type=movie&s=" + search_term);  // API call
		getResults.send()
	})

	




</script>
