

<form>
	<input type="text" name="search-term">
	<input type="submit" name="search">

</form>

<div id="results">
	

</div>


<script>
	document.querySelector('input[type=submit]').addEventListener('click', function(event){
		event.preventDefault();
		search_term = document.querySelector('input[name=search-term]').value
		var getResults = new XMLHttpRequest();
		getResults.addEventListener("load", function(event){
			var results = JSON.parse(event.currentTarget.response).Search
			var list_array = results
			for (var i = 0; i < list_array.length; i++) {
			var titles = results[i].Title
			var years = results[i].Year
			var imdbID = results[i].imdbID
			document.getElementById("results").innerHTML += '<p> Title: ' + titles + '</p>'
			document.getElementById("results").innerHTML += '<p> Year: ' + years + '</p>'
			document.getElementById("results").innerHTML += '<p> Imdb ID: ' + imdbID + '</p>'

			console.log(results)
    	}

			// document.getElementById("results").innerHTML += '<p>' + results.Search.Title; + '</p>'
			// document.getElementById("results").innerHTML += results.Search.Year;	


		});
		getResults.open("GET", "http://www.omdbapi.com/?type=movie&s=" + search_term);
		getResults.send();




	})







</script>